div {
    width: 100%;
    height: 200px;
    background-image: url(https://phunuvietnam.mediacdn.vn/179072216278405120/2022/11/4/edogawa-conan--166754179290680712885.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}