<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div>
        <header class="header">
            <h1 class="heading">Monday Times</h1>
        </header>
        <nav class="nav">
            <ul class="list">
                <li class="item">
                    <a href="">News</a></li>
                <li class="item">
                    <a href="">Sport</a></li>
                <li class="item">
                    <a href="">Weather</a></li>
            </ul>
        </nav>
        <div class="container">
            <h2 class="heading_container">News Section</h2>
            <div class="content">
                <div class="content_item">
                    <h2 class="heading_content">News Article</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. 
                        Morbi condimentum est nibh, et consectetur tortor feugiat at.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem.
                         Morbi condimentum est nibh, et consectetur tortor feugiat at.</p>
                </div>
                <div class="content_item">
                    <h2 class="heading_content">News Article</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. 
                        Morbi condimentum est nibh, et consectetur tortor feugiat at.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem.
                         Morbi condimentum est nibh, et consectetur tortor feugiat at.</p>
                </div>
            </div>
        </div>

        <footer class="footer">
            <h3 class="heading_footer">© 2014 Monday Times. All rights reserved.</h3>
        </footer>
    </div>
</body>
</html>